.container {
  display: flex;
  height: 100vh; /* 改为固定高度 */
  background: #f5f5f5b5; 
  padding: 3% 8%;
  overflow: hidden; /* 隐藏溢出内容 */
  box-sizing: border-box;
}

.content {
  flex: 1;
  background: #fff;
  border-radius: 0 20px 20px 0; // 只保留右侧和底部圆角
  padding: 12px 0;
  height: 100%; /* 改为固定高度 */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* 隐藏滚动条 */
}

.sidebar {
  flex-shrink: 0; /* 防止侧边栏被压缩 */
  height: 100%;
  overflow: hidden; /* 隐藏滚动条 */
}